@using ProjectsManagement.Authorization.Roles
<ul class="navbar-nav mr-5">
    <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="javascript:;"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" asp-controller="Home" asp-action="Index">@L("HomePage")</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a class="nav-link" asp-controller="About" asp-action="Index">@L("About")</a>
    </li>
</ul>

@if(User.IsInRole(StaticRoleNames.Host.Worker)){
    <label id="OnlineUser" class="switch">
  <input class="form-check-input" type="checkbox"  id="flexSwitchCheckDefault">
  <span class="slider round"></span>
</label>
}

