<div class="abp-advanced-search">
    <form id="JobTasksSearchForm" class="form-horizontal">
        <div class="input-group">
            <div class="input-group-prepend">
                <button type="button" class="btn bg-blue btn-search">
                    <span class="fas fa-search" aria-hidden="true"></span>
                </button>
            </div>
            <input type="text" name="Keyword" class="form-control txt-search" />
            <input type="hidden"id="JobId" name="JobId" value="@Model.JobId" />
            <input type="hidden"id="ProjectId" name="ProjectId" value="@Model.ProjectId" />

        </div>
    </form>
</div>
