@using ProjectsManagement.Web.Startup
@{
    ViewBag.Title = L("WorkersHistory");
    ViewBag.CurrentPageName = PageNames.WorkersHistory;
}
@section scripts
{
   
    <environment names="Development">
        <script src="~/view-resources/Views/WorkersHistory/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/WorkersHistory/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("WorkersHistory")</h1>
            </div>
              
           
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <!--Use for bulk actions-->
                            </div>
                            <div class="col-md-6">
                                @await Html.PartialAsync("~/Views/WorkersHistory/Index.AdvancedSearch.cshtml")
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="WorkersHistoryTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                            <th>@L("WorkerName")</th>
                                             <th>@L("TotalHours")</th>
                                        <th style="width: 150px">@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
